.admin-panel-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.admin-other-users-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.admin-other-users-item-wrap {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    border: 1px solid;
    padding: 20px;
}
.admin-other-users-item-name, 
.admin-other-users-item-email,
.admin-other-users-item-access-level,
.admin-other-users-item-files-count,
.admin-other-users-item-memory-usage {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}
.admin-other-users-item-control-wrap {
    display: flex;
    margin-top: 20px;
}
.admin-panel-title {
    margin-bottom: 20px;
}