.share-file-window-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    position: absolute;
    border: 1px solid;
    min-height: 300px;
    top: 25%;
    left: 25%;
    background-color: gray;
    z-index: 5;
}
.share-file-window-close-btn::before {
    display: flex;
    content: '\2716';
    font-size: 24px;
    align-items: center;
    cursor: pointer;
}
.share-file-window-close-btn {
    position: relative;
    left: 95%;
    margin-top: 10px;
}
.share-file-window-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.share-file-link-wrap h3 {
    max-width: 500px;
    overflow: hidden;
}