.register-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.register-form-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
}
.register-from {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-top: 10%;
}
.register-from input {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin-bottom: 10px;
}
.register-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}
.register-btn-wrap button {
    display: flex;
    margin-right: 10px;
}
.register-form-input-err {
    border: 1px solid red;
}
.register-input-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
}
.error-placeholder {
    top: 80%;
    position: absolute;
    height: 20px;
    font-size: 12px;
    background-color: #D14;
    color: white;
    width: 100%;
}
